@import "components/TSW-table.css";
@import "components/hidden.css";

#form-add{
    padding: 2%;
}

#form-add input, select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#form-content{
    margin: 0;
    padding: 24px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 5px;
}

#act-can-wrapper > div {
    margin-bottom: 10px;
}

.edit-linea-factura{
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding-inline: 5px;
    transition: all 0.3s ease;
    font-size: 1.4em;
}

.edit-linea-factura:hover{
    background-color: #201d1d1e;
}